@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-blue: #4a69e2;
  --color-secondary-black: #232321;
  --color-background: #e7e7e3;

  /* Font Family */
  --font-rubik: var(--font-rubik);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1536px;
}

body {
  @apply font-rubik bg-background text-secondary-black;
}

/* Custom CSS */

.section_title {
  @apply text-xl;
}

.section_description {
  @apply text-base;
}

.swiper-pagination-bullet-active-main,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  @apply !text-blue-500 !p-2;
}

:is(
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-horizontal.swiper-pagination-bullets
).swiper-pagination-bullets-dynamic {
  width: 100px !important;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
}
