@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-green: #63be60;
  --color-secondary-blue: #0184ff;

  /* Font Family */
  --font-poppins: var(--font-poppins);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1536px;
}

body {
  @apply font-poppins;
}

/* Custom CSS */

.section_title {
  @apply text-xl;
}

.section_description {
  @apply text-base;
}

.swiper-pagination-bullet-active-main,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  @apply !text-blue-500 !p-2;
}

:is(
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-horizontal.swiper-pagination-bullets
).swiper-pagination-bullets-dynamic {
  width: 100px !important;
}
